body {
    background: #000000;
    max-width: 1000px; 
    margin: 0 auto; 
    float: none; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    body {
      margin-left: 25px;
      margin-right: 25px;
    }
}

/* Nav */
#nav a{
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

#nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

/* Title */
#header h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 12px #FF004F, 0px 0px 22px #00F7EF;
}

#header img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Main */
#main {
    background: #2A1F40;
    border-radius: 5px;
    width: 100%;
}

#callout {
    background: #991DBB;
    box-shadow: 0px 0px 9px #00F7EF;
    border-radius: 43px;
    color: white;
    text-align: center;
    width: 25%;
    height: 35px;
    margin-left: 20px;
}

#callout p {
    padding-top: 5px;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    #callout {
      width: 50%;
    }
}

/* History */

#history {
    color: white;
}

#history h2 {
    font-size: 40px;;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 48%;
    padding: 0 10px;
    text-align: center;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive */
@media only screen and (max-width: 900px) {
    .column {
      width: 100%;
    }

    .card {
        margin-top: 10px;
    }
}

#year {
    background: #4C6AEA;
    border-radius: 5px;
    padding: 5px;
    height: 300px;
  }

#year p {
    font-weight: 600;
    font-size: 30px;
}

#users {
    background: #A96099;
    border-radius: 5px;
    padding: 5px;
    height: 300px;
  }

  #users p {
    font-weight: 600;
    font-size: 30px;
}

#historytext {
    color: white;
    background: #CC5D78;
    border-radius: 5px;
    padding: 5px;
}

#historytext p {
    margin-left: 30%;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.02%;
    margin-right: 20px;
}

/* Algorthim */
#algorthimText {
    color: white;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.02%;
    padding-left: 40px;
}

#algorthimImg {
    padding-top: 40px;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    #algorthimImg img {
      width: 400px;
      height: 300px;
    }

    #algorthimImg {
        padding-top: 0px;
    }

    #algorthimText {
        text-align: center;
        padding-left: 0px;
    }
}

/* Scroll */
#scrollText {
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.02%;
    padding-right: 40px;
}

#scrollImg {
    padding-top: 40px;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    #scrollImg img {
      width: 300px;
      height: 400px;
    }

    #scrollImg {
        padding-top: 0px;
    }

    #scrollText {
        text-align: center;
        padding-right: 0px;
    }
}

/* Screen Time Page */
#expertQuote {
    text-align: center;
    color: white;
}

#stats {
    color: white;
}

#stats h2 {
    font-size: 40px;
    margin-block-end: 10px;
}

#subheaderStats {
    margin-right: 30%;
    line-height: 156.02%;
    font-size: 18px;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    #subheaderStats {
        margin-right: 0px;
    }

    #subheaderDelight {
        margin-left: 0px;
    }

    #surveryText {
        text-align: center;
    }
}

#surveryText {
    color: white;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.02%;
    padding-top: 50px;
}

#historySm {
    color: white;
    background: #4C6AEA;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 80%;

}

#historySm p {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#delight {
    color: white;
    text-align: right;
}

#delight h2 {
    font-size: 40px;
    margin-block-end: 10px;
    text-align: right;
}

#subheaderDelight {
    margin-left: 30%;
    line-height: 156.02%;
    font-size: 18px;
}